
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
p {
    font-size: 18px;
    text-align: justify;
}
.half-width .name {
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, salmon);
    background-color: orange;
    padding: 10px 18px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;

}